# Ignore este diretório, pois o gerenciador de pacotes (pnpm) gerencia
# as dependências sem precisar do git.
node_modules/

# Dados temporários salvos pelo backend que não precisam ser adicionados
# ao repositório.
data/